<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title>Weather</title>
    <link href="/static/css/knacss.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
</head>
<body>

<nav class="topbar">
    <a href="/" class="brand">M&eacute;t&eacute;o maison</a>

    {% block page_title %}{% endblock %}
</nav>

<main>
    {% block content %}{% endblock %}
</main>

</body>
</html>